<html>
    <head>
        <title>Practice your Form!</title>
        <link rel="stylesheet" type="text/css" href="{{ '../../static/style.css' }}">
    </head>
    <body>
        <h3>Please fill out the following Form:</h3>
        <form action="">
            First Name: <input type="text" name="first_name"><br />
            Last Name: <input type="text" name="last_name"><br />
            Email: <input type="text" name="email"><br />
            Comment: <br /><textarea name="comment" id="" cols="30" rows="10"></textarea><br />
            <input type="submit">
        </form>

        <a href="/">Back</a>
    </body>
</html>