<html>
    <head>
        <title>About Ninjas</title>
        <link rel="stylesheet" type="text/css" href="{{ '../static/style.css' }}">
    </head>
    <body>
        <h3>So you want to know about Ninjas!</h3>
        <h4>The first mention of ninja</h4>
        <p>The first historical record of ninja comes from the Taiheiki war chronicle written around 1375. It states that ninja were sent out on a stormy night to infiltrate and burn down enemy buildings.</p>

        <h4>The historical record</h4>
        <p>There are very scant records for the ninja in the warring periods and it is only after peace arrived in the 1600’s that some peacetime ninja began to record their skills. The most famous of these is the colossal “ninja bible” known as the Bansenshukai which was written in 1676. There are an estimated 400 – 500 ninja manuals spread across Japan, many of which are still kept secret.</p>

        <h4>The ninja suit</h4>
        <p>The popular image of the ninja is of the iconic ninja suit. This is a bit of a misnomer as the ninja “suit” only appears to be a uniform to the western eye. In truth it is just traditional Japanese clothes with a mask attached. Black Japanese clothes would be comparable to a black suit in modern London. People in medieval Japan could wear masks in the street to hide their identity, it is only the modern ‘off the shelf’ ninja suit that looks out of place.</p>

        <a href="/">Back</a>
    </body>
</html>