<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Addresses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="">
</head>
<body>
    <div class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div>
            <h3>Email Addresses entered</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Address</th>
                        <th scope="col">Date Entered</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for email in email_data %}
                        <tr>
                            <td>{{ email['email'] }}</td>
                            <td>{{ email['time'] }}</td>
                            <td>
                                <form action="/delete/{{ email['id'] }}" method="POST">
                                    <input type="hidden" name="email" value="{{ email['email'] }}" readonly/>
                                    <input class='btn btn-sm btn-danger' type="submit" name="delete" value="Delete">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="/" method="GET">
                <input type="submit" class="btn btn-sm btn-primary" value="Add Another Address">
            </form>
        </div>
    </div>
</body>
</html>