{% extends 'layout.html' %}

{% block content %}
    <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}    
    </div>
    <h3>Welcome, {{ session['user_name'] }}! </h3>
    <h4>Here are the other registered users:</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Created</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
                <tr>
                    <td>{{ user['email'] }}</td>
                    <td>{{ user['password'] }}</td>
                    <td>{{ user['first_name'] }}</td>
                    <td>{{ user['last_name'] }}</td>
                    <td>{{ user['time'] }}</td>
                    <td>
                        <form action="/delete/{{ user['id'] }}" method="POST">
                            <input type="hidden" name="email" value="{{ user['email'] }}" readonly/>
                            <input class='btn btn-sm btn-danger' type="submit" name="delete" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock%}