{% extends 'layout.html' %}

{% block content %}
    <h3>Getting closer and closer to a full app! Can you taste it?</h3>
    <p>Please fill out the form below to register:</p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/registration" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" class="form-control" placeholder="Last Name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="email">Email Address</label>
                <input type="text" name="email" class="form-control" placeholder="johnny@appleseed.com">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password">Enter a Password (Include Uppercase Letter and Special Character)</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
                <label for="password_confirm">Confirm Password</label>
                <input type="password" name="password_confirm" class="form-control" placeholder="Password">
            </div>
        </div>
        <div class="form-row">
            <input type="submit" class="btn btn-primary" value="Register">
        </div>
    </form>    
{% endblock %}