<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <!-- Using Bootstrap for CSS formatting -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- Custom Styles -->
    <style>
        .container {
            box-shadow: 2px 2px 25px black;
        }
    </style>
</head>
<body>
    <div class="container mt-5 mb-5 pb-5">
        <div class="row">
            <div class="col">
                <div class="counter text-center mt-5">
                    <h1 class="display-3">Counter</h1>
                    <p>Counter: {{ session.counter }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <form action="/add_two" method="POST">
                    <button type="submit" class="btn btn-success">Add 2</button>
                </form>
            </div>
            <div class="col text-left">
                <form action="/reset" method="POST">
                    <button type="submit" class="btn btn-danger">Reset</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>